.table1 {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    border-collapse: collapse;
    width: 50%;
    border: 3px solid #000000;
}
 
 
.table1, th, td {
    padding: 10px 30px;
    text-align: center;
}
.table1 tr:nth-child(even) {
    background-color: #b4e601;
}
 
